* {
    box-sizing: border-box;
}

html {
    position: relative;
}

html, body {
    background-image: url("./pictures/advertisements-batch-blur-business-518543.jpg");
    background-size: cover;
    color:white;
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

h1 {
    font-size: 3rem;
    font-family: 'Fredericka the Great', cursive;
}

h6 {
    color:black;
}

.floattext {
    display:flex;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    font-size: 40px;
    color: white;
}

.heart-icon {
    float:right;
}



/* HOVER BOEXES */

.hover-container {
    display: flex;
    flex-wrap: wrap;
    color: cyan;
    opacity: .8;
}

.row {
	margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-evenly;
}


.box {
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;

}

.box img {
	max-width: 100%;
	transition: transform 2s;
}

.box > img:hover {
	transform: scale(1.2);
}

.box .detail {
	position: absolute;;
	top: 15px;
	bottom: 15px;
	left: 30px;
	right: 30px;
	background: rgba(0,0,0,0.8);
	transform: scaleY(0);
	transition: transform .5s;
}

.box:hover >.detail {
	transform: scaleY(1);
}


.box .detail .content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
    padding: 15px;
}

.box .detail .content p {
	margin: 0;
	padding: 0;
    color: lightskyblue;
    font-size: 2.5rem;
}


.article-action-button {
    display: flex;
    /* background-color: blue; */
    /* flex-direction: row; */
}

.card {
    height: auto; 
    opacity: .8;
}

.card-title{
    display: flex;
    justify-content: center;
    color:black;
}

.card-text {
    display: flex;
    justify-content: center;
}

.list-group {
    opacity: .8;
    width: 100%;
    /* align-items: flex-start; */

}

.navbar-brand {
    font-size: 20px;
}

.sticky-footer {
    position: absolute;
    display:flex;
    bottom: 0;
    height: 60px;
}
