* {
    box-sizing: border-box;
}

html {
    position: relative;
}

html, body {
    background-image: url("./pictures/advertisements-batch-blur-business-518543.jpg");
    background-size: cover;
    color:white;
    height: 100%;
}

h1 {
    font-size: 60px;
    font-family: 'Fredericka the Great', cursive;
}

h2 {
    
}

h6 {
    color:black;
}

.article-action-button {
    display: flex;
    /* background-color: blue; */
    /* flex-direction: row; */
}

.card {
    height: auto; 
}

.card-title{
    display: flex;
    justify-content: center;
    color:black;
}

.card-text {
    display: flex;
    justify-content: center;
}

.list-group {
    opacity: .8;
    width: 100%;
    /* align-items: flex-start; */

}

.navbar-brand {
    font-size: 20px;
}

.sticky-footer {
    position: relative;
    display:flex;
    bottom: 0;
    height: 60px;
}
