<!-- Hover pictures-->
<link rel="stylesheet" href="/css/styles.css">

<div class="hover-container">
    <div class="row">
            <div class="col-md-3 box">
                <img src="css/pictures/app-business-communication-connection-242492.jpg" class="img-fluid" class="img-responsive">
                    <div class="detail">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <div class="content">
                                <div class="floattext">Fast</div>
                            </div>
                        </div>
                    </div>
            </div>
        <div class="col-md-3 box">
            <img src="css/pictures/gray-laptop-computer-near-journals-177557.jpg" class="img-fluid" class="img-responsive">
                <div class="detail">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <div class="content">
                            <div class="floattext">&</div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-md-3 box">
            <img src="css/pictures/man-using-stylus-pen-for-touching-the-digital-tablet-screen-6335.jpg" class="img-fluid" class="img-responsive">
                <div class="detail">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <div class="content">
                            <div class="floattext">Easy</div>
                        </div>
                    </div>
                </div>
</div>
