<!-- Hover pictures-->
<link rel="stylesheet" href="/css/styles.css">

<div class="hover-container">
    <div class="row">
            <div class="col-md-3 box text-center">
                <img src="css/pictures/app-business-communication-connection-242492.jpg" class="img-fluid" class="img-responsive">
                    <div class="detail">
                        <div class="content">
                            <p>Fast</p>
                        </div>
                    </div>
            </div>
        <div class="col-md-3 box text-center">
            <img src="css/pictures/gray-laptop-computer-near-journals-177557.jpg" class="img-fluid" class="img-responsive">
                <div class="detail">
                    <div class="content">
                        <p class="text-md-center">Easy</p>
                    </div>
                </div>
        </div>
        <div class="col-md-3 box text-center">
            <img src="css/pictures/man-using-stylus-pen-for-touching-the-digital-tablet-screen-6335.jpg" class="img-fluid" class="img-responsive">
                <div class="detail">
                    <div class="content">
                        <p>For You</p>
                    </div>
                </div>
        </div>
