<!-- Hover pictures-->
<link rel="stylesheet" href="/css/styles.css"</link>

<div class="view">
    <div class="view overlay">
        <img src="css/pictures/man-using-stylus-pen-for-touching-the-digital-tablet-screen-6335.jpg" class="img-fluid " alt="fast image">
        <div class="mask flex-center rgba-blue-strong">
            <p class="white-text">Fast</p>
        </div>
    </div>

    <div class="view overlay">
        <img src="css/pictures/gray-laptop-computer-near-journals-177557.jpg" class="img-fluid " alt="simple image">
        <div class="mask flex-center rgba-blue-strong">
            <p class="white-text">Simple</p>
        </div>
    </div>

    <div class="view overlay">
        <img src="css/pictures/app-business-communication-connection-242492.jpg" class="img-fluid " alt="convienient image">
        <div class="mask flex-center rgba-blue-strong">
            <p class="white-text">Convienient</p>
        </div>
    </div>
</div>
