<nav class="navbar text-white navbar-expand-lg navbar-light bg-info shadow-lg p-3 mb-5 rounded">
  <a class="navbar-brand text-white" href="/">Home</a>
  <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        {{^authenticated}}
        <a class="nav-link" href="/register">Register</a>
      </li>
        <a class="nav-link" href="/login">Login</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/topnews">Top News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/happynews">Happy News</a>
      </li>
      {{/authenticated}}
      
      {{! <li class="nav-item">
        <a class="nav-link" href="/topnews">Top News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/happynews">Happy News</a>
      </li> }}
      
      {{#authenticated}}
        <a class="nav-link" href="/all-stuff">View User News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/topnews">Top News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/happynews">Happy News</a>
      </li>

      </li>
        <a class="nav-link" href="/users/add-stuff">Add Stuff</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/articles">My Stuff</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/favorites">User Favorites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      {{/authenticated}}
    </ul>
  </div>
</nav>
