<html>
<head>
<!-- Required meta tags -->
  {{> header}}

</head>


<body>


<h1>Latest News</h1>

<div class="container">

{{> menu}}

<div class="list-group ">
{{#articles}}
<div class="card text-dark" style="width: 18rem;">
  {{! <img class="card-img-top" src="..." alt="Card image cap"> }}
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text overflow-auto">{{body}}</p>
    {{! <a href="#" class="btn btn-primary">Go somewhere</a> }}
  </div>
</div>
{{/articles}}
</div>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{> footer}}

</body>
</html>
