
    <html>
<head>
<!-- Required meta tags -->
  {{> header}}

</head>


<body>


<h1>Your Saved News</h1>

<div class="container">

{{> menu}}

<div class="list-group ">
{{#usnewsarticles}}
<div class="card text-dark">
  {{! <img class="card-img-top" src="..." alt="Card image cap"> }}
  <div class="card-body">
    <h4 class="card-title">{{title}}</h4>
    <a href={{url}}>
    <p class="card-text">Article Link</p></a>
    {{! <p class="card-text overflow-auto">{{body}}</p> 
        <h6 class="card-footer">Happiness Rating: {{sentimentemoji}}</h1>

    {{! <a href="#" class="btn btn-primary">Go somewhere</a> }}
  </div>
</div>
<form action="/users/delete-favorite-article" method="POST">
        <input type="hidden" name="newsid" value={{newsid}} />
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
{{/usnewsarticles}}
</div>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>
</html>
