
    <html>
<head>
<!-- Required meta tags -->
  {{> header}}

</head>


<body>


<h1>Your Saved News</h1>

<div class="container">

{{> menu}}

<div class="list-group ">
{{#usnewsarticles}}
<div class="card text-dark">
  {{! <img class="card-img-top" src="..." alt="Card image cap"> }}
  <div class="card-body">
    <h4 class="card-title">{{title}}</h4>
    <a href={{url}}>
    <p class="card-text">Article Link</p></a>
    {{! <p class="card-text overflow-auto">{{body}}</p> 
        <h6 class="card-footer">Happiness Rating: {{sentimentemoji}}</h1>

    {{! <a href="#" class="btn btn-primary">Go somewhere</a> }}
  </div>
</div>
<form action="/users/delete-favorite-article" method="POST">
        <input type="hidden" name="newsid" value={{newsid}} />
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
{{/usnewsarticles}}
</div>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{> footer}}

</body>
</html>
