<html>
<head>
<!-- Required meta tags -->
  {{> header}}

</head>


<body>


<h1> U.S. News</h1>

<div class="container">

{{> menu}}

<div class="list-group" >
{{#happyarticles}}
<div class="card container-fluid">
  {{! <img class="card-img-top" src="..." alt="Card image cap"> }}
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <a href="{{url}}">
    <p class="card-text">Click Here!</p> 
    </a>
    <h6 class="card-footer">Happiness Rating: {{sentimentemoji}} 
    {{#authenticated}}          

<button type="button" class="heart-icon">
  <svg class="bi bi-heart-fill" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 3.314C14.438-1.248 25.534 6.735 10 17-5.534 6.736 5.562-1.248 10 3.314z" clip-rule="evenodd"/></svg>
</button>

    {{/authenticated}}

    </h6>
    {{! <a href="#" class="btn btn-primary">Go somewhere</a> }}
  </div>
</div>
{{/happyarticles}}
</div>


<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{> footer}}

</body>
</html>

</html>