<html>
<head>
<!-- Required meta tags -->
  {{> header}}

</head>


<body>


<h1> U.S. News</h1>

<div class="container">

{{> menu}}

<div class="list-group" >
{{#happyarticles}}
<div class="card container-fluid">
  {{! <img class="card-img-top" src="..." alt="Card image cap"> }}
  <div class="card-body">
    <h4 class="card-title">{{title}}</h4>
    <a href="{{url}}">
    <p class="card-text">Article Link</p> 
    </a>
    <h6 class="card-footer">Happiness Rating: {{sentimentemoji}} 
    </h6>
    {{! <a href="#" class="btn btn-primary">Go somewhere</a> }}
  </div>
</div>
{{/happyarticles}}
</div>


<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{> footer}}

</body>
</html>

</html>