<html>
<head>
<!-- Required meta tags -->
  {{> header}}

</head>


<body>


<h1> Latest Stuff</h1>

<div class="container">

{{> menu}}
<h1> Home page </h1>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{> footer}}

</body>
</html>

