<html>
<head>
<!-- Required meta tags -->
  {{> header}}

</head>

<h1> My News Stand </h1>

<div class="container">

{{> menu}}

<body>


<h2> 
  <div class="card bg-white rounded">
  {{! <img class="card-img-top" src="..." alt="Card image cap"> }}
  <div class="card-body">
    <h5 class="card-title ">Your Information, Simplified</h5>
    <p class="card-text text-dark text-center">Welcome! My News Stand is a way to browse and save the news you find interesting! Whether it's something to read later or to show to you collegues, it's all collected in one place.</h2></p></a>
    {{! <p class="card-text overflow-auto">{{body}}</p>
</h2>

{{>hoverimages}}

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{> footer}}

</body>
</html>
