<html>
<head>
<!-- Required meta tags -->
  {{> header}}

</head>

<h1> Add-Stuff </h1>

<div class="container">

{{> menu}}

<body>


<h1> Index Page </h1>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{> footer}}

</body>
</html>