
    <html>
<head>
<!-- Required meta tags -->
  {{> header}}

</head>


<body>


<h1>Latest News</h1>

<div class="container">

{{> menu}}

<div class="list-group ">
{{#usnewsarticles}}
<div class="card text-dark">
  {{! <img class="card-img-top" src="..." alt="Card image cap"> }}
  <div class ="card-body">
    <h5 class="card-title">{{title}}</h5>
    <a href={{url}}>
    <p class="card-text">Article Link</p></a>
    {{! <p class="card-text overflow-auto">{{body}}</p> 
        <h6 class="card-footer">Happiness Rating: {{sentimentemoji}}
 {{#authenticated}}          

<button type="button" class="heart-icon">
    <a href="/users/favorites/add/{{newsid}}"> 

  <svg class="bi bi-heart-fill text-danger" width="1.5em" height="1.5em" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 3.314C14.438-1.248 25.534 6.735 10 17-5.534 6.736 5.562-1.248 10 3.314z" clip-rule="evenodd"/></svg>
  </a>
</button>

    {{/authenticated}}
    </h6>
    {{! <a href="#" class="btn btn-primary">Go somewhere</a> }}
  </div>
</div>
{{/usnewsarticles}}
</div>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{> footer}}

</body>
</html>




